.container {
  background: #e7f6ff;
  margin-left:130px;
  margin-right:60px;
  padding: 40px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08)
  
}

.title {
  font-size: 28px;
  font-weight: 600;
  color: #616161;
  margin-bottom: 40px;
}

.list {
  /* limit height so overflow can work and show a scrollbar */
  max-height: 60vh;
  overflow-y: scroll;
  padding-right: 12px;
  box-sizing: border-box;
  scrollbar-color: #29b6f6 transparent; 
  scrollbar-width: auto;
  scrollbar-gutter: stable;
}

.list::-webkit-scrollbar {
  width: 30px;

}
.list::-webkit-scrollbar-thumb {
  background: #29b6f6;
  border-radius: 30px;
  box-shadow: inset 0 0 0 3px rgba(255,255,255,0.6);
}
.list::-webkit-scrollbar-track {
  background: white;
}